*.zwc
*.zwc.old
.zsh_plugins.zsh
zcompdump*
.zcompcache/
.zsh_sessions/

*history*
*.log
*.log.*

*.webp
*.mp4
*.svg
*.ico

.github/
.git-credentials
.git/

*notes*
*secret*
*private*
*.env
*.env.*
!*.env.example

# Neovim
.netrwhist
*~

# VSCode
.vscode/

# JetBrains
.idea/

.DS_Store
Thumbs.db
desktop.ini
.Trash-*/
.directory

*.bak
*.swp
*.tmp
*.orig
*.pid
